.easy-peasy {	    /*	x  y  z  sum*/
    transform: matrix3d(1.1, 0, 0, 0,	/*x*/
			0, 0.85, 0, 0,	/*y*/
			0, 0, 1, 0,	/*z*/
			0, 0, 0, 1);	/*sum*/
    background-color: green;
}

.tile {
    width: 30vw;
    height: 50vh;
}

div {
    transform: rotateZ(70deg);
}

.easy-peasy-left {
    transform: matrix3d(1, 0, 0, 0.001,	/*x*/
			0, 1, 0, 0,	/*y*/
			0, 0, 1, 0,	/*z*/
			0, 0, 0, 1);	/*sum*/

}

.easy-peasy-right {
    transform: matrix3d(1, 0, 0, -0.001,	/*x*/
			0, 1, 0, 0,	/*y*/
			0, 0, 1, 0,	/*z*/
			0, 0, 0, 1);	/*sum*/

li {	    
    animation-name: spin;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-iteration-count: 20;
}

ul {
    display: flex;
    gap: 1em;
}

img {
    width: 33vw;
}

@keyframes spin{
    0% {
		/*	x    y   z   sum*/
    transform: matrix3d(100 ,0  ,0  ,0		,/*x*/
			0   ,100,0  ,0		,/*y*/
			0   ,0	,100,0		,/*z*/
			0   ,1	,0  ,100	);	/*sum*/

    }
    50% {
		/*	x    y   z   sum*/
    transform: matrix3d(100 ,-100  ,0  ,0		,/*x*/
			100 ,100,0  ,0		,/*y*/
			0   ,0	,100,0		,/*z*/
			0   ,0  ,0  ,100	);	/*sum*/

    }
    100% {
		/*	x    y   z   sum*/
    transform: matrix3d(100 ,0  ,0  ,0		,/*x*/
			0   ,100,0  ,0		,/*y*/
			0   ,0	,100,0		,/*z*/
			0   ,0	,0  ,100	);	/*sum*/
	
    }
}
